:root {
  --color-background: #141414;
  --color-text-primary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  min-height: 100vh;
}
